<% if (!user) { %>
<h2>Please log in.</h2>
<a href="/auth/vk">Log in with VK</a>
<% } else { %>
<p>Username: <%= user.username %></p>
<p>Name: <%= user.displayName %></p>
<p>Friends: </p>
<% user.friends.forEach(function (elem) { %>
    <%= elem %> <br/>
<% }) %>
<p>
  <a href="/logout">Log out</a>
</p>
<% } %>