<!DOCTYPE html>
<html>
<head>
    <title>vk-auth</title>
</head>
<body>
<% if (!user) { %>
<p>
    <a href="/login">Log In</a>
</p>
<% } else { %>
<p>
    <a href="/logout">Log Out</a>
</p>
<% } %>
<%- body %>
</body>
</html>